<!DOCTYPE html>
<html lang="{{ .Lang }}">
  {{ partial "head.html" . }}

  <body>
    {{partial "search.html" .}}
    <div class="bg-grain"></div>

    <div class="singlePage">
      <!-- Begin actual content -->
      {{partial "header.html" .}}

      <article>
        {{if .Title}}
        <h1>{{ .Title }}</h1>
        {{end}}

        <div class="article-info">
          <p class="meta">
            <span>{{.WordCount}} words</span>
            <span>( ~ {{.ReadingTime}} mins)</span>
          </p>
          <p class="meta">
            <span> Planted&nbsp;: &nbsp;{{ partial "date-fmt-publish.html" .}} </span>
            <span
              >Last tended&nbsp;: &nbsp;{{ partial "date-fmt.html" .}} {{ partial "github.html"
              .}}</span
            >
          </p>
        </div>
        <ul class="tags">
          {{ range (.GetTerms "tags") }}
          <li><a href="{{ .Permalink }}">{{ .LinkTitle | upper }}</a></li>
          {{ end }}
        </ul>
        <br />
        {{partial "toc.html" .}} {{partial "textprocessing.html" . }}
      </article>

      {{partial "footer.html" .}}
    </div>
  </body>
  <script>
    setTimeout(() => {
      const article = document.querySelector("article")
      const y = article.getBoundingClientRect().top + window.pageYOffset - 40
      window.scrollTo({ top: y, behavior: "smooth" })
    }, 300)
  </script>
  <script>
    const brokenLinks = document.querySelectorAll("a.internal-link.broken")
    for (const link of brokenLinks) {
      link.onclick = () => {
        var el = document.createElement("div")
        var txt = document.createElement("span")
        el.appendChild(txt)
        el.classList.add("link-invalid")
        txt.innerHTML = "&nbsp;This page hasn't been created yet.&nbsp;"
        setTimeout(function () {
          el.parentNode.removeChild(el)
        }, 3000)
        document.body.appendChild(el)
      }
    }
  </script>
</html>
