<!DOCTYPE html>
<html lang="{{ .Lang }}">
  {{ partial "head.html" . }}

  <body>
    {{partial "search.html" .}}
    <div class="bg-grain"></div>

    <div class="singlePage">
      <!-- Begin actual content -->
      {{partial "header.html" .}}

      <article>
        {{if .Title}}
        <h1>{{ .Title }}</h1>
        {{end}}
        <div class="article-info">
          <ul class="tags">
            {{ range (.GetTerms "tags") }}
            <li><a href="{{ .Permalink }}">{{ .LinkTitle | humanize }}</a></li>
            {{ end }}
          </ul>
          <p class="meta">
            <span> Planted&nbsp;: &nbsp;{{ partial "date-fmt-publish.html" .}} </span>
            <span
              >Last tended&nbsp;: &nbsp;{{ partial "date-fmt.html" .}} {{ partial "github.html" .
              }}</span
            >
          </p>
        </div>
        <br />
        {{partial "toc.html" .}} {{partial "textprocessing.html" . }}
      </article>

      {{partial "footer.html" .}}
    </div>
  </body>
  <script>
    setTimeout(() => {
      const article = document.querySelector("article")
      const y = article.getBoundingClientRect().top + window.pageYOffset - 40
      window.scrollTo({ top: y, behavior: "smooth" })
    }, 300)
  </script>
</html>
