<script
  src="https://cdn.jsdelivr.net/npm/d3@6.7.0/dist/d3.min.js"
  integrity="sha256-+7jaYCp29O1JusNWHaYtgUn6EhuP0VaFuswhNV06MyI="
  crossorigin="anonymous"
></script>
<script src="https://kit.fontawesome.com/6f31f22e53.js" crossorigin="anonymous"></script>

<div id="graph-outer-layer">
  <script>
    function resizeGraph(width, height, scale) {
      d3.select("#graph-container").selectAll("svg").attr("width", width).attr("height", height)
      // .attr("viewBox", [
      //   ((-width / 2) * 1) / 1,
      //   ((-height / 2) * 1) / 1,
      //   (width * 1) / 1,
      //   (height * 1) / 1,
      // ])
    }
    function openFullScreen() {
      const elem = document.getElementById("graph-container")
      elem.classList.add("full-screen")

      const container = document.getElementById("graph-outer-layer")
      container.classList.add("full-screen")
      container.classList.remove("thumbnail")

      const buttonOpen = document.getElementById("graph-button-open")
      buttonOpen.style.display = "none"
      const buttonClose = document.getElementById("graph-button-close")
      buttonClose.style.display = "block"

      const scale = 1
      const width = screen.width
      const height = screen.height
      resizeGraph(width, height, scale)
    }

    function closeFullScreen() {
      const elem = document.getElementById("graph-container")
      elem.classList.remove("full-screen")

      const container = document.getElementById("graph-outer-layer")
      container.classList.add("thumbnail")
      container.classList.remove("full-screen")

      const buttonOpen = document.getElementById("graph-button-open")
      buttonOpen.style.display = "block"
      const buttonClose = document.getElementById("graph-button-close")
      buttonClose.style.display = "none"

      const scale = 1
      const height = 500
      const width = 500
      resizeGraph(width, height, scale)
    }
    window.addEventListener("resize", () => {
      const elem = document.getElementById("graph-container")
      resizeGraph(elem.clientWidth, elem.clientWidth, 1)
    })
    window.addEventListener("hashchange", () => {
      //console.log("location changed!")
      closeFullScreen()
    })
  </script>

  <div id="graph-title">
    <h3>Interactive Graph</h3>

    <button id="graph-button-open" onclick="openFullScreen()">
      <i class="fas fa-expand fa-lg"></i>
    </button>
    <button id="graph-button-close" onclick="closeFullScreen()">
      <i class="fas fa-compress fa-lg"></i>
    </button>
  </div>
  <div id="graph-container"></div>
</div>

<style>
  :root {
    --g-node: var(--secondary);
    --g-node-active: var(--primary);
    --g-node-inactive: var(--visited);
    --g-link: var(--outlinegray);
    --g-link-active: #5a7282;
  }
</style>
{{ $js := resources.Get "js/graph.js" | resources.Fingerprint "md5" }}
<script src="{{ $js.Permalink }}"></script>
