<script
  src="https://cdn.jsdelivr.net/npm/d3@6.7.0/dist/d3.min.js"
  integrity="sha256-+7jaYCp29O1JusNWHaYtgUn6EhuP0VaFuswhNV06MyI="
  crossorigin="anonymous"
></script>
<div id="graph-outer-layer">
  <script>
    function resizeGraph(width, height, scale) {
      d3.select("#graph-container")
        .selectAll("svg")
        .attr("width", width)
        .attr("height", height)
        .attr("viewBox", [
          ((-width / 2) * 1) / scale,
          ((-height / 2) * 1) / scale,
          (width * 1) / scale,
          (height * 1) / scale,
        ])
    }
    function openFullScreen() {
      const elem = document.getElementById("graph-container")
      elem.classList.add("full-screen")

      const container = document.getElementById("graph-outer-layer")
      container.classList.add("full-screen")
      container.classList.remove("thumbnail")

      const buttonOpen = document.getElementById("graph-button-open")
      buttonOpen.style.display = "none"
      const buttonClose = document.getElementById("graph-button-close")
      buttonClose.style.display = "block"

      const scale = 1
      const width = screen.width
      const height = screen.height
      resizeGraph(width, height, scale)
    }

    function closeFullScreen() {
      const elem = document.getElementById("graph-container")
      elem.classList.remove("full-screen")

      const container = document.getElementById("graph-outer-layer")
      container.classList.add("thumbnail")
      container.classList.remove("full-screen")

      const buttonOpen = document.getElementById("graph-button-open")
      buttonOpen.style.display = "block"
      const buttonClose = document.getElementById("graph-button-close")
      buttonClose.style.display = "none"

      const scale = 1
      const height = 500
      const width = 500
      const svg = d3
        .select("#graph-container")
        .selectAll("svg")
        .attr("width", width)
        .attr("height", height)
        .attr("viewBox", [
          ((-width / 2) * 1) / scale,
          ((-height / 2) * 1) / scale,
          (width * 1) / scale,
          (height * 1) / scale,
        ])
    }
    window.addEventListener("resize", () => {
      const elem = document.getElementById("graph-container")
      resizeGraph(elem.clientWidth, elem.clientWidth, 1)
    })
    window.addEventListener("hashchange", () => {
      console.log("location changed!")
      closeFullScreen()
    })
  </script>

  <div id="graph-title">
    <!-- <button id="graph-button-open" onclick="openFullScreen()">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="18"
        height="18"
        viewBox="-1 -3 26 25"
        fill="none"
        stroke="var(--dark)"
        stroke-width="3"
        stroke-linecap="round"
        stroke-linejoin="round"
      >
        <path d="M15 3h6v6M14 10l6.1-6.1M9 21H3v-6M10 14l-6.1 6.1" />
      </svg>
    </button>
    <button id="graph-button-close" onclick="closeFullScreen()">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="18"
        height="18"
        viewBox="-1 -3 26 25"
        fill="none"
        stroke="var(--dark)"
        stroke-width="3"
        stroke-linecap="round"
        stroke-linejoin="round"
      >
        <path d="M4 14h6v6M3 21l6.1-6.1M20 10h-6V4M21 3l-6.1 6.1" />
      </svg>
    </button> -->

    <button id="graph-button-open" onclick="openFullScreen()">🔍</button><span id="spacer"></span>
    <button id="graph-button-close" onclick="closeFullScreen()">✖</button>
    <h3>Interactive Graph</h3>
  </div>
  <div id="graph-container"></div>
</div>

<style>
  :root {
    --g-node: var(--secondary);
    --g-node-active: var(--primary);
    --g-node-inactive: var(--visited);
    --g-link: var(--outlinegray);
    --g-link-active: #5a7282;
  }
</style>
{{ $js := resources.Get "js/graph.js" | resources.Fingerprint "md5" }}
<script src="{{ $js.Permalink }}"></script>
